.navbar {
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
}

main {
    font-size: 18px;
    font-family: 'Rubik';
}

.main-content {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.title-cont {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

.title span {
    font-weight: bold;
    background: linear-gradient(to right, #FC77AE 0%, #ff9085 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.offer-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.submit-offer {
    width: 100%;
}